/* RESET UNIVERSAL */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-fundo: oklch(95% 0 0);
    --cor-fundo2: #c7c7c7;
    --cor-display: #285f21;
    --cor-btns: oklch(10% 0 0);
    --fundo-btn: oklch(80% 0 0);
    --fundo-btn-hover: oklch(70% 0 0);
    --cor-btns-hover: oklch(45% 0 0);
    --fundo-btn-container: oklch(90% 0 0);
    --borda-calc: oklch(80% 0 0) 2px solid;
}

header {
    background: var(--cor-fundo);
    color:oklch(20% 0 0);
    padding:0.25em;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.5em;
    border-bottom: var(--borda-calc);
    border-radius: 0 0 0.5em 0.5em;
}

main {
    width: 100%;
    height: fit-content;
    display:grid;
}

#calc-fundo {
    background: var(--cor-fundo);
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: .5em;
    border-radius: 10px;
    border: var(--borda-calc);
    box-shadow: 0 5px 5px oklch(70% 0 0);
    margin-top:2em;
}

#display-fundo {
    background: var(--cor-fundo2);
    color: var(--cor-display);
    text-align: right;
    padding: 0.5em;
    height: fit-content;
    font-family: "Orbitron";
    font-size: 1.3rem;
    border-radius: 10px;
    overflow-x: auto;
}

#btn-0 {
    grid-area: n0;
}

#btn-1 {
    grid-area: n1;
}

#btn-2 {
    grid-area: n2;
}

#btn-3 {
    grid-area: n3;
}

#btn-4 {
    grid-area: n4;
}

#btn-5 {
    grid-area: n5;
}

#btn-6 {
    grid-area: n6;
}

#btn-7 {
    grid-area: n7;
}

#btn-8 {
    grid-area: n8;
}

#btn-9 {
    grid-area: n9;
}

#btn-menos {
    grid-area: sub;
}

#btn-mais {
    grid-area: soma;
}

#btn-div {
    grid-area: div;
}

#btn-mult {
    grid-area: X;
}

#btn-dec {
    grid-area: ponto;
}

#btn-neg {
    grid-area: neg;
}

#btn-apaga {
    grid-area: apaga;
}

#btn-igual {
    grid-area: igual;
}

#btn-back {
    grid-area: backspace;
}


#botoes-fundo {
    background: var(--fundo-btn-container);
    margin-top: 1em;
    /* justify-content: center; */
    height: fit-content;
    width: 100%;
    border-radius: 10px;
}

#botoes-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas:
        "apaga nada backspace X"
        "n7 n8 n9 div"
        "n4 n5 n6 sub"
        "n1 n2 n3 soma"
        "neg n0 ponto igual";
    justify-items: center;
    padding: 0.25em;
    gap: 0.25em;
}

.btn-calc {
    position: relative;
    height: 4em;
    width: 4em;
    border: none;
    background: var(--fundo-btn);
    color: var(--cor-btns);
    border-radius: 50%;
    font-weight: 800;
    font-size: 100%;
    cursor: pointer;
}

.btn-calc:hover {
    transform: scale(110%);
    background: var(--fundo-btn-hover);
    color: var(--cor-btns-hover);
    border: #555555 1px solid;
    z-index: 99;
}

.backspace-image {
    background-image: url(../assets/backspace.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 3vw;
    height: 6vh;
    margin: auto;
}

#btn-voltar{
    background:oklch(95% 0 0);
    border: var(--borda-calc);
    width:4em;
    height:2em;
    font-size:1.5em;
    border-radius:.25em;
    justify-self: center;
    cursor:pointer;
    margin-top:2em;
    text-align: center;
}