* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

html{
    font-family:sans-serif;
    scroll-behavior: smooth;
}

header{
    background: oklch(95% 0 0);
    color: oklch(20% 0 0);
    padding: 1rem;
    border-bottom: 2px solid oklch(85% 0 0); 
    box-shadow: 0 0 10px oklch(80% 0 0);
}

main{
    justify-self: center;
}

#container{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "username-container"
    "password-container"
    "button";
    justify-content: center;
    align-items:center;
    background:oklch(95% 0 0);
    width:40vw;
    height:auto;
    justify-self: center;
    padding:2em;
    margin:2rem;
    border: oklch(80% 0 0) 2px solid;
    border-radius:2rem;
    box-shadow:0 5px 5px oklch(60% 0 0);
}

input{
    width:20vw;
    height: 4vh;
    border: oklch(80% 0 0) 1px solid;
    border-radius:0.30rem;
    margin-left:50%;
    margin-top:0.75rem;
    margin-bottom:0.75rem;
    transform:translateX(-50%);
    padding:5px;
    font-size:1em;
}

button[type="button"]{
    border: oklch(80% 0 0) 1px solid;
    border-radius:0.2em;
    height:1.5em;
    width:5em;
    font-size:1.4em;
    margin-top:2rem;
    background:oklch(90% 0 0);
    box-shadow:0 5px 5px oklch(80% 0 0);
    cursor:pointer;
    justify-self: center;
}

button[type="button"]:hover{
    transition:0.2s ease-in-out;
    transform: scale(110%);
    background: oklch(80% 0 0);
    border: oklch(75% 0 0) 2px solid
}