* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

html{
    font-family:sans-serif;
    scroll-behavior: smooth;
}

header{
    background: oklch(0% 0 0);
    color: oklch(75% 0 0);
    padding: 1rem;
}

body{
    background: oklch(88% 0 0);
}

main{
    justify-self: center;
}

#container{
    justify-content: center;
    background:oklch(95% 0 0);
    width:40vw;
    height:auto;
    justify-self: center;
    padding:2em;
    margin:2rem;
    border: oklch(80% 0 0) 2px solid;
    border-radius:2rem;
    box-shadow:0 5px 5px oklch(60% 0 0);
}

input{
    width:20vw;
    height: 4vh;
    border: oklch(80% 0 0) 1px solid;
    border-radius:0.30rem;
    margin-left:50%;
    margin-top:0.75rem;
    margin-bottom:0.75rem;
    transform:translateX(-50%);
    padding:5px;
}

button[type="button"]{
    border: oklch(80% 0 0) 1px solid;
    border-radius:0.2rem;
    height:5vh;
    width:10vw;
    font-size:1.3rem;
    margin-left: 50%;
    transform:translateX(-50%);
    margin-top:2rem;
    background:oklch(100% 0 0);
    box-shadow:0 5px 5px oklch(80% 0 0);
}